/**
 * @file
 * Styling for Tabs, Messages, Pagers ..etc
 */

/******************************************************************************
 * Logo, Sitename and Slogan
 *****************************************************************************/
#logo {
  float: left;
  margin: 0 10px 0 0;
}

#name-and-slogan .brand{
  font-size: 2.0em;
  line-height: 1.2em;
}

#search-form-wrapper input {
  margin: 0;
}

/******************************************************************************
 * Tabs
 *****************************************************************************/
ul.tabs.primary,
ul.action-links {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #DDD;
}

ul.action-links {
  border-bottom: 0;
}

ul.tabs:before,
ul.tabs:after,
ul.action-links:before,
ul.action-links:after {
  display: table;
  line-height: 0;
  content: "";
}

ul.tabs:after,
ul.action-links:after {
  clear: both;
}

ul.tabs > li,
ul.action-links > li {
  float: left;
  display: block;
  margin-bottom: -1px;
}

ul.tabs > li > a,
ul.action-links > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  background: none;
  border: none;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  display: block;
}

ul.tabs > li > a:hover,
ul.action-links > li > a:hover {
  text-decoration: none;
  background-color: #EEE;
  border-color: #EEE #EEE #DDD;
}

ul.tabs > .active > a, 
ul.tabs > .active > a:hover ,
ul.action-links > .active > a,
ul.action-links > .active > a:hover{
  color: #555;
  cursor: default;
  background-color: white;
  border: 1px solid #DDD;
  border-color: #DDD #DDD #FFF #DDD;
  border-bottom-color: transparent;
}

ul.secondary {
  border-bottom: 0;
  padding: 0;
}

ul.tabs.secondary > li {
  border: 0;
  padding: 0;
}

ul.tabs.secondary > li > a,
ul.action-links > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0 !important;
}

ul.tabs.secondary > li > a,
ul.action-links > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

ul.tabs.secondary > .active > a,
ul.tabs.secondary > .active > a:hover,
ul.action-links > .active > a,
ul.action-links > .active > a:hover{
  color: white;
  background-color: #08C;
}

/******************************************************************************
 * Vertical Tabs
 *****************************************************************************/
div.vertical-tabs {
  border: none;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
}

div.vertical-tabs ul.vertical-tabs-list {
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
}

div.vertical-tabs ul.vertical-tabs-list li {
  border: none;
  background: none;
  outline: none !important;
  border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border: 1px solid;
  border-color: #fff #ddd #fff #fff;
}

div.vertical-tabs ul.vertical-tabs-list li.selected {
  border-color: #ddd #fff #ddd #ddd;
}

div.vertical-tabs ul.vertical-tabs-list li a {
  outline: none !important;
  border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
}

div.vertical-tabs ul.vertical-tabs-list li a:hover {
  background: #EEE;
}

div.vertical-tabs .vertical-tabs-panes {

}


div.vertical-tabs .form-type-textfield input {
  width: 90%;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/******************************************************************************
 * Messages
 *****************************************************************************/
div.messages {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  background-image: none;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

div.messages.status {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

div.messages.error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

div.messages.info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/******************************************************************************
 * Form
 *****************************************************************************/
form {
  margin: 0 0 20px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

legend small {
  font-size: 15px;
  color: #999999;
}

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

input,
textarea {
  width: 90%;
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}

select {
  width: 220px;
  background-color: #ffffff;
  border: 1px solid #bbb;
}

select[multiple],
select[size] {
  height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
  display: inline-block;
  *display: inline;
  padding: 4px 14px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

button:hover, 
input[type="button"]:hover, 
input[type="reset"]:hover, 
input[type="submit"]:hover,
button:active, 
input[type="button"]:active, 
input[type="reset"]:active, 
input[type="submit"]:active,
button.active, 
input[type="button"].active, 
input[type="reset"].active, 
input[type="submit"].active {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

button:first-child, 
input[type="button"]:first-child, 
input[type="reset"]:first-child, 
input[type="submit"]:first-child {
  *margin-left: 0;
}

button:hover, 
input[type="button"]:hover, 
input[type="reset"]:hover, 
input[type="submit"]:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

button:focus, 
input[type="button"]:focus, 
input[type="reset"]:focus, 
input[type="submit"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.form-actions button, 
.form-actions input[type="button"], 
.form-actions input[type="reset"], 
.form-actions input[type="submit"] {
  margin-right: 10px;
}

html.js input.form-autocomplete {
  background-position: 100% 7px;
}

html.js input.throbbing {
  background-position: 100% -13px;
}

table td.checkbox input[type="checkbox"] {
  float: none;
}

/******************************************************************************
 * Breadcrumbs
 *****************************************************************************/
 .breadcrumb {
  padding: 8px 15px;
  margin: 18px 0;
  list-style: none;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.breadcrumb li {
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #ffffff;
  *zoom: 1;
}

.breadcrumb .divider {
  padding: 0 5px;
  color: #ccc;
}

.breadcrumb .active {
  color: #999999;
}

/******************************************************************************
 * Pager
 *****************************************************************************/
.pager {
  height: 38px;
  padding: 0 !important;
  margin: 20px 0 !important;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  *zoom: 1;
}

.pager li {
  display: inline-block !important;
  margin: 0 0 0 -4px !important;
  padding: 0 !important;
}

.pager li.pager-current {
  padding: 6px 14px !important;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
  height: 20px;
}

.pager a,
.pager span {
  padding: 8px 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pager a:hover,
.pager .active a,
.pager .active span {
  background-color: #f5f5f5;
}

.pager .active a,
.pager .active span {
  color: #999999;
  cursor: default;
}

.pager .disabled span,
.pager .disabled a,
.pager .disabled a:hover {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pager li:first-child ,
.pager li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
     -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
}

.pager li:last-child,
.pager li:last-child a{
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
}

/******************************************************************************
 * Navigation
 *****************************************************************************/
#navigation ul {
  margin: 20px 0;
  padding: 0;
}

#navigation ul:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}

#navigation ul > li {
  float: left;
  list-style: none outside none;
  margin: 0 5px 0 0;
  padding: 0;
}

#navigation ul > li:first-child {
  border-left: 0;
}

#navigation ul > li > a {
  color: #555;
  text-decoration: none;
  display: block;
  padding: 8px 15px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

#navigation ul > li > a:hover,
#navigation ul > li.active > a,
#navigation ul > li.active-trail > a {
  background: #eee;
}
