// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and
// $modal-content-box-shadow-xs.

// To customize
// - Copy paste the variable from node_modules/bootstrap/scss/_variables.scss.
// - Change the value and remove the !default flag.
//
// e.g.
// $body-bg: #000;
// $body-color: $gray-100;
