//
// Color
// --------------------------------------------------

// Background Colors
$header-background-color: #EEEEEE;
$main-background-color: #FFFFFF;
$footer-background-color: #F5F5F5;

// Text Colors
$text-color: #333333;

// Links Colors
$header-links-color: #000000;
$footer-links-color: lighten($footer-background-color, 40%);
$footer-links-heading-color: lighten($footer-background-color, 100%);