//
// Layout
// Styles for Forms
// --------------------------------------------------

// General
// --------------------------------------------------
#node-edit {
  #edit-title {
    font-size: 1.6em;
    line-height: 1.6em;
    height: 45px;
  }
  .burr-flipped-sidebar {
    .panel-pane {
      @include well();
      padding: 10px;
      .pane-title {
        margin-top: 0;
      }
    }
  }
}

.filter-wrapper {
  @include well();
  margin-top: 10px;
  .filter-guidelines {
    padding: 0;
    .tips {
      margin-left: 0;
    }
  }
}

// Search Form
// --------------------------------------------------
.search-form {
  input {
    &.form-text {
      margin: 0;
      display: inline-block;
    }
    &.form-submit {
      margin: 0;
    }
  }
}

#header .search-form {
  margin: 20px 0;
  float: right;
}

@media (max-width: 767px) {
  #header .search-form {
    margin: 0;
    float: none;
  }
}