//
// Layout
// Styles for Forms
// --------------------------------------------------

// General
// --------------------------------------------------
form {
  fieldset {
    min-height: 50px;
    legend {
      font-size: 18px;
    }
  }
  .form-actions {
    .btn {
      margin-right: 10px;
    }
  }
  .field-type-datetime {
    select {
      width: 80px;
    }
  }
  .format-toggle {
    float: none;
  }
}

@media (max-width: 767px) { 
  form {
    .btn {
      width: 100%;
      display: block;
      clear: both;
      margin: 0 0 5px;
    }
    input.form-text,
    textarea,
    select {
      width: 94%;
    }
    fieldset {
      legend {
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 5px;
        margin-top: 10px;
      }
    }
    .confirm-parent, 
    .password-parent, 
    .password-suggestions {
      width: auto !important;
    }
    .password-parent {
      div.password-strength {
        width: 150px;
        float: right;
        margin-top: 0;
        font-size: 10px;
        margin-bottom: 5px;
        margin-top: -5px;
      }
    }
    .confirm-parent {
      div.password-confirm {
        width: 110px;
        float: right;
        margin-top: 0;
        font-size: 10px;
        margin-bottom: 5px;
        margin-top: -5px;
      }
    }
  }
}

// Node Edit Form
// --------------------------------------------------
#node-edit {
  #edit-title {
    font-size: 1.6em;
    line-height: 1.6em;
    height: 45px;
    width: 90%;
  }
  .form-item-path-alias {
    @include clearfix();
    label, input {
      display: inline;
    }
  }
  .burr-flipped-sidebar {
    .panel-pane {
      @include well();
      padding: 10px;
      .pane-title {
        margin-top: 0;
      }
    }
    .pane-node-form-buttons {
      background: none;
      padding: inherit;
      .form-actions {
        margin: 0;
        border-top: 0;
      }
    }
  }
}

.filter-wrapper {
  @include well();
  margin-top: 10px;
  .filter-guidelines {
    padding: 0;
    .tips {
      margin-left: 0;
    }
  }
}

// Search Form
// --------------------------------------------------
.navbar {
  .search-form {
    .container-inline {
      padding-top: 0;
    }
    input {
      &.form-submit {
        display: none;
      }
    }
  }
}

@media (max-width: 979px) {
  .navbar {
    .search-form {
      border: 0 !important;
      padding: 5px 0 10px;
      margin: 0;
      @include box-shadow(none);
      .container-inline {
        padding-top: 0;
        margin: 0;
        display: block;
        width: 100%;
        .form-item {
          width: 100%;
          display: block;
        }
      }
      input {
        margin: 0 auto;
        display: block;
      }
    }
  }
}

// Field Overview
// --------------------------------------------------
.page-admin {
  form {
    table {
      select,
      input.form-text {
        width: 150px;
      }
    }
  }
}

// Features
// --------------------------------------------------
#features-export-form {
  .features-export-parent {
    margin: 0 0 20px;
    fieldset.collapsed {
      min-height: 43px !important;
      background: none;
    }
    .features-export-list {
      padding: 10px;
      .form-item {
        float: none !important;
      }
    }
  }
}

