//
// Layout
// Styles for main layout
// --------------------------------------------------
.show-grid .panel-display .row {
  margin-top: 10px;
  margin-bottom: 20px;
}

.show-grid .panel-display .row [class*="span"] {
  background-color: #eee;
  text-align: center;
  min-height: 40px;
  line-height: 40px;
  @include border-radius(4px);
}

.container {
  .container {
    width: auto;
  }
}

body {
  #header {
    #navigation {
      margin-top: 20px;
    }
  }
}