// Menu
// Styles for Menus and Navs
// --------------------------------------------------
#navigation {
  margin: 0;
  .navbar-inner {
    padding: 0;
    background: none;
    border: none;
    @include border-radius(0);
    @include box-shadow(none);
    #nav-collapse {
      > ul.menu {
        margin: 20px 0 0;
        position: relative;
        display: inline-table;
        li {
          list-style: none outside none;
          padding: 0;
          margin: 0;
          position: relative;
          a {
            display: block;
            margin: 0;
            text-shadow: none;
            text-transform: uppercase;
            font-size: 0.9em;
            color: $header-links-color;
            text-decoration: none;
            @include border-radius(0);
            &.active, &:hover {
              background: none;
              border-bottom: 2px solid $header-links-color;
              @include box-shadow(none);
            }
          }
          ul {
            display: none;
            position: absolute;
            width: 150px;
            top: 100%;
            left: 50%;
            margin: 0 0 0 -75px;
            padding: 50px 0 0;
            background: url("../images/icon/icon-caret.png") no-repeat center 42px transparent;
            > li {
              > a {
                background: #FFF;
                padding: 12px 15px;
                &.active, &:hover {
                  background: #eee;
                  border-bottom: none;
                }
              }
            }
          }
        }
        > li {
          float: left;
          &.expanded {
            > a {
              &:hover {
                border: none;
              }
            }
          }
          &:hover {
            > ul.menu {
              display: block;
            }
          }
        }
        &:after {
          content: ""; 
          clear: both; 
          display: block;
        }
      }
      &.pull-right {
        > ul.menu {
          > li {
            margin: 0 0 0 25px;
          }
        }
      }
    }
    .btn-navbar-wrapper {
      margin-top: 10px;
      .btn-navbar {
        @include gradientBar(#222, #111);
        font-weight: normal;
        font-size: 1.4em;
        padding: 5px 10px 4px;
        margin-top: 0;
        span {
          width: auto !important;
          height: auto !important;
          text-shadow: none !important;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #navigation {
    .navbar-inner {
      ul {
        &.menu {
          margin: 0;
          li {
            display: block;
            a {
              &.active {
                @include box-shadow(none);
              }
            }
          }
        }
      }
      .btn-navbar-wrapper {
        margin-top: 5px;
      }
      .nav-collapse {
        float: none !important;
        clear: both;
        &#nav-collapse {
          margin: 10px -20px 0 !important;
          padding: 0 20px !important;
          background: darken($header-background-color, 15%);
          ul.menu {
            margin: 0;
            display: block;
            > li {
              float: none !important;
              margin: 0;
              > a {
                text-align: center;
                display: block;
                padding: 10px 0;
                &:hover, &.active {
                  border: none;
                }
              }
              ul {
                display: none;
              }
            }
          }
        }
        &#search-collapse {
          margin: 0 -20px !important;
          padding: 0 20px !important;
          background: darken($header-background-color, 25%);
          form {
            padding: 10px 0;
            text-align: center;
          }
        }
      }
    }
  }
}