// Menu
// Styles for Menus and Navs
// --------------------------------------------------

$logo-height: 32px; // setting height of logo img here will center navs and search
$header-menu-margin-top-bottom: $logo-height / 2.5;

#navigation {
  margin: 0;
  .navbar-inner {
    padding: 0;
    background: none;
    border: none;
    @include border-radius(0);
    @include box-shadow(none);
    ul {
      &.nav {
        margin: $header-menu-margin-top-bottom 0;
        li {
          padding: 0;
          a {
            display: block;
            margin: 0;
            @include border-radius(0);
            text-shadow: none;
            &.active, &:hover {
              background: none;
              text-decoration: underline;
              @include box-shadow(none);
            }
          }
        }
      }
    }
    .btn-navbar-wrapper {
      margin-top: 10px;
      .btn-navbar {
        @include gradientBar(#222, #111);
        font-weight: normal;
        font-size: 1.4em;
        padding: 5px 10px 4px;
        margin-top: 0;
        span {
          width: auto !important;
          height: auto !important;
          text-shadow: none !important;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #navigation {
    .navbar-inner {
      ul {
        &.nav {
          margin: 0;
          li {
            display: block;
            a {
              &.active {
                @include box-shadow(none);
              }
            }
          }
        }
      }
      .btn-navbar-wrapper {
        margin-top: 5px;
      }
      .nav-collapse {
        float: none !important;
        clear: both;
        &#nav-collapse {
          margin: 10px -20px 0 !important;
          padding: 0 20px !important;
          ul {
            > li {
              > a {
                text-align: center;
              }
            }
          }
        }
        &#search-collapse {
          margin: 0 -20px !important;
          padding: 0 20px !important;
          form {
            padding: 10px 0;
            text-align: center;
          }
        }
      }
    }
  }
}