// Panel
// Styles for Panels
// --------------------------------------------------

// General
// --------------------------------------------------
.panel-display {
  > .row {
    margin-bottom: 20px;
  }
}

// IPE
// --------------------------------------------------
#panels-ipe-control-container {
  .panels-ipe-button-container {
    text-align: center;
    .panels-ipe-pseudobutton-container {
      margin: 0 5px;
      a {
        padding: 0px 10px 0px 34px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .panels-ipe-form-container {
    form {
      > div {
        text-align: center;
      }
      .form-submit {
        margin: 0 5px;
        padding: 0px 10px 0px 34px;
        &:hover {
          @include box-shadow(none);
        }
      }
    }
  }
}