//
// Structure
// Styles for Tabs, Messages, ..etc
// --------------------------------------------------

// Logo
// --------------------------------------------------
#logo {
  > img {
    vertical-align: middle;
    margin-right: 10px;
  }
}

// Breadcrumb
// --------------------------------------------------
#breadcrumb {
  .breadcrumb {
    margin: 0;
    padding: 0;
    background: none;
    font-size: 1.0em;
  }
}

// Tabs
// --------------------------------------------------
ul {
  &.tabs.primary {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #DDD;
  }
  &.action-links {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #DDD;
    border-bottom: 0;
  }
  &.tabs {
    &:before, &:after {
      display: table;
      line-height: 0;
      content: "";
    }
  }
  &.action-links {
    &:before, &:after {
      display: table;
      line-height: 0;
      content: "";
    }
  }
  &.tabs:after, &.action-links:after {
    clear: both;
  }
  &.tabs > li, &.action-links > li {
    float: left;
    display: block;
    margin-bottom: -1px;
  }
  &.tabs > li > a, &.action-links > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    background: none;
    border: none;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    display: block;
  }
  &.tabs > li > a:hover, &.action-links > li > a:hover {
    text-decoration: none;
    background-color: #EEE;
    border-color: #EEE #EEE #DDD;
  }
  &.tabs > .active > a, &.action-links > .active > a {
    color: #555;
    cursor: default;
    background-color: white;
    border: 1px solid #DDD;
    border-color: #DDD #DDD #FFF #DDD;
    border-bottom-color: transparent;
    &:hover {
      color: #555;
      cursor: default;
      background-color: white;
      border: 1px solid #DDD;
      border-color: #DDD #DDD #FFF #DDD;
      border-bottom-color: transparent;
    }
  }
  &.secondary {
    border-bottom: 0;
    padding: 0;
  }
  &.tabs.secondary > li {
    border: 0;
    padding: 0;
    > a {
      padding-top: 8px;
      padding-bottom: 8px;
      margin-top: 2px;
      margin-bottom: 2px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border: 0 !important;
    }
  }
  &.action-links > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0 !important;
  }
  &.tabs.secondary > li > a, &.action-links > li > a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
  }
  &.tabs.secondary > .active > a, &.action-links > .active > a {
    color: white;
    background-color: #08C;
    &:hover {
      color: white;
      background-color: #08C;
    }
  }
}

// Vertical Tabs
// --------------------------------------------------
div.vertical-tabs {
  border: none;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  ul.vertical-tabs-list {
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: none;
    li {
      border: none;
      background: none;
      outline: none !important;
      border-radius: 4px 0 0 4px;
      -webkit-border-radius: 4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px;
      border: 1px solid;
      border-color: #fff #ddd #fff #fff;
      &.selected {
        border-color: #ddd #fff #ddd #ddd;
      }
      a {
        outline: none !important;
        border-radius: 4px 0 0 4px;
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        &:hover {
          background: #EEE;
        }
      }
    }
  }
  .form-type-textfield input {
    width: 90%;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
}

// Messages
// --------------------------------------------------
div.messages {
  padding: 8px 35px 8px 14px;
  margin: 18px 0;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  background-image: none;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  &.status {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  &.error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
  }
  &.info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
}

// Tables
// --------------------------------------------------
table {
  width: 100%;
  margin-bottom: $baseLineHeight;
  // Cells
  th,
  td {
    padding: 8px;
    line-height: $baseLineHeight;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid $tableBorder;
  }
  th {
    font-weight: bold;
  }
  // Bottom align for column headings
  thead th {
    vertical-align: bottom;
  }
  // Remove top border from thead by default
  caption + thead tr:first-child th,
  caption + thead tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + thead tr:first-child td,
  thead:first-child tr:first-child th,
  thead:first-child tr:first-child td {
    border-top: 0;
  }
  // Account for multiple tbody instances
  tbody + tbody {
    border-top: 2px solid $tableBorder;
  }
}

// Links
// --------------------------------------------------
ul.links {
  &.inline {
    margin: 0;
    li {
      margin: 0 10px 0 0;
      padding: 0;
    }
  }
}