.navbar .form-inline .form-actions {
  display: none;
}

.toolbar-oriented .toolbar-bar {
  z-index: 1200;
}

.toolbar-horizontal .toolbar-menu.nav {
  float: left;
}

fieldset.card legend {
  font-size: 1rem;
}

.form-check {
  margin-bottom: 1rem;
}

.form-radios .form-check,
.form-checkboxes .form-check {
  margin-bottom: 0;
}

.forum__last-reply {
  width: 20%;
}

.forum-list__forum {
  width: 60%;
}

