{#
/**
 * @file
 * Default theme implementation for a menu block.
 */
#}
{%
set classes = [
'block',
'block-menu',
'navigation',
'menu--' ~ derivative_plugin_id|clean_class,
]
%}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<nav{{ attributes.addClass(classes)|without('id') }} role="navigation" aria-labelledby="{{ heading_id }}">
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
