

/* line 336, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}

/* line 338, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}

/* line 340, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}

/* line 342, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}

/* line 343, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-gbp:before {
  content: "\f154";
}

/* line 345, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}

/* line 347, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}

/* line 351, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}

/* line 354, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}

/* line 356, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}

/* line 358, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}

/* line 359, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-file:before {
  content: "\f15b";
}

/* line 360, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-file-text:before {
  content: "\f15c";
}

/* line 361, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-sort-alpha-asc:before {
  content: "\f15d";
}

/* line 362, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-sort-alpha-desc:before {
  content: "\f15e";
}

/* line 363, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-sort-amount-asc:before {
  content: "\f160";
}

/* line 364, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-sort-amount-desc:before {
  content: "\f161";
}

/* line 365, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-sort-numeric-asc:before {
  content: "\f162";
}

/* line 366, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-sort-numeric-desc:before {
  content: "\f163";
}

/* line 367, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-thumbs-up:before {
  content: "\f164";
}

/* line 368, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-thumbs-down:before {
  content: "\f165";
}

/* line 369, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-youtube-square:before {
  content: "\f166";
}

/* line 370, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-youtube:before {
  content: "\f167";
}

/* line 371, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-xing:before {
  content: "\f168";
}

/* line 372, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-xing-square:before {
  content: "\f169";
}

/* line 373, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-youtube-play:before {
  content: "\f16a";
}

/* line 374, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-dropbox:before {
  content: "\f16b";
}

/* line 375, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-stack-overflow:before {
  content: "\f16c";
}

/* line 376, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-instagram:before {
  content: "\f16d";
}

/* line 377, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-flickr:before {
  content: "\f16e";
}

/* line 378, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-adn:before {
  content: "\f170";
}

/* line 379, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-bitbucket:before {
  content: "\f171";
}

/* line 380, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-bitbucket-square:before {
  content: "\f172";
}

/* line 381, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-tumblr:before {
  content: "\f173";
}

/* line 382, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-tumblr-square:before {
  content: "\f174";
}

/* line 383, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-long-arrow-down:before {
  content: "\f175";
}

/* line 384, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-long-arrow-up:before {
  content: "\f176";
}

/* line 385, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-long-arrow-left:before {
  content: "\f177";
}

/* line 386, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-long-arrow-right:before {
  content: "\f178";
}

/* line 387, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-apple:before {
  content: "\f179";
}

/* line 388, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-windows:before {
  content: "\f17a";
}

/* line 389, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-android:before {
  content: "\f17b";
}

/* line 390, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-linux:before {
  content: "\f17c";
}

/* line 391, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-dribbble:before {
  content: "\f17d";
}

/* line 392, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-skype:before {
  content: "\f17e";
}

/* line 393, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-foursquare:before {
  content: "\f180";
}

/* line 394, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-trello:before {
  content: "\f181";
}

/* line 395, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-female:before {
  content: "\f182";
}

/* line 396, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-male:before {
  content: "\f183";
}

/* line 397, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-gittip:before {
  content: "\f184";
}

/* line 398, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-sun-o:before {
  content: "\f185";
}

/* line 399, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-moon-o:before {
  content: "\f186";
}

/* line 400, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-archive:before {
  content: "\f187";
}

/* line 401, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-bug:before {
  content: "\f188";
}

/* line 402, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-vk:before {
  content: "\f189";
}

/* line 403, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-weibo:before {
  content: "\f18a";
}

/* line 404, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-renren:before {
  content: "\f18b";
}

/* line 405, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-pagelines:before {
  content: "\f18c";
}

/* line 406, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-stack-exchange:before {
  content: "\f18d";
}

/* line 407, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}

/* line 408, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-arrow-circle-o-left:before {
  content: "\f190";
}

/* line 410, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}

/* line 411, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-dot-circle-o:before {
  content: "\f192";
}

/* line 412, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-wheelchair:before {
  content: "\f193";
}

/* line 413, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-vimeo-square:before {
  content: "\f194";
}

/* line 415, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}

/* line 416, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-plus-square-o:before {
  content: "\f196";
}

/* line 417, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-space-shuttle:before {
  content: "\f197";
}

/* line 418, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-slack:before {
  content: "\f198";
}

/* line 419, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-envelope-square:before {
  content: "\f199";
}

/* line 420, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-wordpress:before {
  content: "\f19a";
}

/* line 421, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-openid:before {
  content: "\f19b";
}

/* line 424, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}

/* line 426, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}

/* line 427, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-yahoo:before {
  content: "\f19e";
}

/* line 428, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-google:before {
  content: "\f1a0";
}

/* line 429, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-reddit:before {
  content: "\f1a1";
}

/* line 430, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-reddit-square:before {
  content: "\f1a2";
}

/* line 431, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}

/* line 432, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-stumbleupon:before {
  content: "\f1a4";
}

/* line 433, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-delicious:before {
  content: "\f1a5";
}

/* line 434, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-digg:before {
  content: "\f1a6";
}

/* line 436, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-pied-piper-square:before,
.fa-pied-piper:before {
  content: "\f1a7";
}

/* line 437, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-pied-piper-alt:before {
  content: "\f1a8";
}

/* line 438, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-drupal:before {
  content: "\f1a9";
}

/* line 439, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-joomla:before {
  content: "\f1aa";
}

/* line 440, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-language:before {
  content: "\f1ab";
}

/* line 441, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-fax:before {
  content: "\f1ac";
}

/* line 442, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-building:before {
  content: "\f1ad";
}

/* line 443, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-child:before {
  content: "\f1ae";
}

/* line 444, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-paw:before {
  content: "\f1b0";
}

/* line 445, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-spoon:before {
  content: "\f1b1";
}

/* line 446, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-cube:before {
  content: "\f1b2";
}

/* line 447, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-cubes:before {
  content: "\f1b3";
}

/* line 448, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-behance:before {
  content: "\f1b4";
}

/* line 449, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-behance-square:before {
  content: "\f1b5";
}

/* line 450, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-steam:before {
  content: "\f1b6";
}

/* line 451, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-steam-square:before {
  content: "\f1b7";
}

/* line 452, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-recycle:before {
  content: "\f1b8";
}

/* line 454, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}

/* line 456, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}

/* line 457, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-tree:before {
  content: "\f1bb";
}

/* line 458, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-spotify:before {
  content: "\f1bc";
}

/* line 459, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-deviantart:before {
  content: "\f1bd";
}

/* line 460, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-soundcloud:before {
  content: "\f1be";
}

/* line 461, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-database:before {
  content: "\f1c0";
}

/* line 462, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-file-pdf-o:before {
  content: "\f1c1";
}

/* line 463, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-file-word-o:before {
  content: "\f1c2";
}

/* line 464, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-file-excel-o:before {
  content: "\f1c3";
}

/* line 465, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}

/* line 468, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}

/* line 470, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}

/* line 472, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}

/* line 474, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}

/* line 475, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-file-code-o:before {
  content: "\f1c9";
}

/* line 476, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-vine:before {
  content: "\f1ca";
}

/* line 477, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-codepen:before {
  content: "\f1cb";
}

/* line 478, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-jsfiddle:before {
  content: "\f1cc";
}

/* line 482, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-life-bouy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}

/* line 483, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-circle-o-notch:before {
  content: "\f1ce";
}

/* line 485, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-ra:before,
.fa-rebel:before {
  content: "\f1d0";
}

/* line 487, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}

/* line 488, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-git-square:before {
  content: "\f1d2";
}

/* line 489, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-git:before {
  content: "\f1d3";
}

/* line 490, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-hacker-news:before {
  content: "\f1d4";
}

/* line 491, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-tencent-weibo:before {
  content: "\f1d5";
}

/* line 492, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-qq:before {
  content: "\f1d6";
}

/* line 494, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}

/* line 496, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}

/* line 498, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}

/* line 499, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-history:before {
  content: "\f1da";
}

/* line 500, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-circle-thin:before {
  content: "\f1db";
}

/* line 501, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-header:before {
  content: "\f1dc";
}

/* line 502, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-paragraph:before {
  content: "\f1dd";
}

/* line 503, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-sliders:before {
  content: "\f1de";
}

/* line 504, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-share-alt:before {
  content: "\f1e0";
}

/* line 505, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-share-alt-square:before {
  content: "\f1e1";
}

/* line 506, ../../extensions/compass_radix/stylesheets/fontawesome/_icons.scss */
.fa-bomb:before {
  content: "\f1e2";
}

/* line 3, ../../extensions/compass_radix/stylesheets/compass_radix/_layout.scss */
#footer {
  margin: 36px 0;
}

/* line 6, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.page-header {
  margin: 0 0 18px;
}
/* line 8, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.page-header h1 {
  margin: 0;
}

/* line 13, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.page-title-hidden .page-header {
  display: none;
}

/* line 22, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.breadcrumb a i {
  display: none;
}

/* line 30, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.tabs, .nav-tabs {
  margin: 0 0 18px;
}

/* line 36, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.action-links {
  list-style: none outside none;
  margin: 0 0 18px;
  padding: 0;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/bootstrap-sass-3.0.3.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.action-links:before, .action-links:after {
  content: " ";
  display: table;
}
/* line 25, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/bootstrap-sass-3.0.3.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */
.action-links:after {
  clear: both;
}
/* line 41, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.action-links > li {
  float: left;
  margin: 0 10px 0 0;
}

/* line 49, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
div.vertical-tabs {
  border: none;
  border: 1px solid #DDD;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 54, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
div.vertical-tabs ul.vertical-tabs-list {
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  outline: none;
}
/* line 59, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
div.vertical-tabs ul.vertical-tabs-list li {
  border: none;
  background: none;
  outline: none !important;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  border: 1px solid;
  border-color: #fff #ddd #fff #fff;
}
/* line 66, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
div.vertical-tabs ul.vertical-tabs-list li.selected {
  border-color: #ddd #fff #ddd #ddd;
}
/* line 69, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
div.vertical-tabs ul.vertical-tabs-list li a {
  outline: none !important;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
/* line 72, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
div.vertical-tabs ul.vertical-tabs-list li a:hover {
  color: #fff;
  background: #428bca;
  text-decoration: none;
}
/* line 76, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
div.vertical-tabs ul.vertical-tabs-list li a:hover strong {
  text-decoration: none;
  color: #fff;
}
/* line 84, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
div.vertical-tabs .vertical-tabs-panes {
  padding: 20px 10px;
}
/* line 87, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
div.vertical-tabs .form-type-textfield input {
  width: 90%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 95, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
table {
  width: 100%;
  margin-bottom: 1.428571429;
}
/* line 100, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
table th,
table td {
  padding: 8px;
  line-height: 1.428571429;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
/* line 106, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
table th.checkbox,
table td.checkbox {
  text-align: center;
}
/* line 108, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
table th.checkbox input,
table td.checkbox input {
  float: none !important;
  margin-left: 0 !important;
}
/* line 114, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
table th {
  font-weight: bold;
}
/* line 118, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
table thead th {
  vertical-align: bottom;
}
/* line 127, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
/* line 131, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
table tbody + tbody {
  border-top: 2px solid #dddddd;
}

/* line 138, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
ul.links {
  padding: 0;
  list-style: none outside none;
}
/* line 141, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
ul.links.inline {
  margin: 0;
}
/* line 143, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
ul.links.inline li {
  margin: 0 10px 0 0;
  padding: 0;
}

/* line 153, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.carousel .carousel-control {
  z-index: 100;
}
/* line 156, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.carousel .carousel-indicators li {
  float: none;
  margin-left: 3px;
  margin-right: 3px;
}
/* line 160, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.carousel .carousel-indicators li a {
  display: none;
}
/* line 165, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.carousel .carousel-caption h1, .carousel .carousel-caption h2, .carousel .carousel-caption h3, .carousel .carousel-caption h4, .carousel .carousel-caption h5, .carousel .carousel-caption h6 {
  color: white;
}

/* line 174, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.item-list ul.pagination {
  margin: 20px 0;
}
/* line 176, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.item-list ul.pagination > li {
  margin: 0;
  display: inline-block;
  padding: 0;
  position: relative;
}
/* line 181, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.item-list ul.pagination > li > a, .item-list ul.pagination > li > span {
  padding: 6px 12px;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
  border-radius: inherit;
}
/* line 184, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.item-list ul.pagination > li > a.progress-disabled, .item-list ul.pagination > li > span.progress-disabled {
  float: left;
}
/* line 188, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.item-list ul.pagination > li .ajax-progress {
  float: left;
  padding: 6px 5px 6px 10px;
}

/* line 199, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.ctools-dropdown-container hr {
  margin: 0;
}

/* line 207, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
ul.nav,
ul.navl li,
ul.dropdown-menu,
ul.dropdown-menu li {
  list-style: none outside none !important;
}

/* line 215, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.drupal-navbar .navbar-bar,
.drupal-navbar .navbar-tray-vertical > .navbar-lining:before,
.drupal-navbar .navbar-tray-horizontal {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 219, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.drupal-navbar .navbar-tray-vertical,
.drupal-navbar .navbar-tray-vertical > .navbar-lining:before {
  bottom: 0;
  width: 240px !important;
}

@media only screen and (min-width: 38.125em) {
  /* line 224, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
  body.navbar-tray-open.navbar-vertical {
    margin-left: 240px !important;
  }
}
/* line 232, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
a#navbar-link-admin-panopoly:before {
  background-image: url("../images/icon/icon-panopoly.png");
}
/* line 235, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
a#navbar-link-admin-panopoly.active:before {
  background-image: url("../images/icon/icon-panopoly-active.png");
}

/* line 240, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
a#navbar-link-admin-apps:before {
  background-image: url("../images/icon/icon-apps.png");
}
/* line 243, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
a#navbar-link-admin-apps.active:before {
  background-image: url("../images/icon/icon-apps-active.png");
}

/* line 250, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
body.ctools-modal-open {
  overflow: hidden;
}

/* line 254, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modalContent .modal-content {
  width: 100%;
  overflow: hidden;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
/* line 259, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modalContent #modal-content {
  overflow: auto;
  width: 100% !important;
  background: white;
}
/* line 264, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modalContent .panels-add-content-modal {
  background: none;
  padding: 0;
  height: 100%;
  margin: -20px -20px 0;
  width: 100%;
  position: absolute;
}

/* line 275, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modalContent .panels-section-columns,
#modalContent .panels-categories-description {
  border: none;
}
/* line 278, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modalContent .panels-section-column-categories {
  margin-left: 0;
  border-right: 1px solid #ccc;
  height: 100%;
  background: white;
  overflow: auto;
  padding-bottom: 20px;
}
/* line 285, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modalContent .panels-section-column-categories .btn {
  border: 1px solid #999999 !important;
  line-height: inherit;
  margin: 0;
  text-align: left;
}
/* line 292, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modalContent .panels-categories-box {
  border: 0;
}
/* line 294, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modalContent .panels-categories-box a.btn {
  padding: 5px 10px;
}
/* line 297, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modalContent .panels-categories-box a.active {
  background: #eeeeee;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 303, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modalContent .panels-root-content-box a.btn {
  padding: 5px 10px;
}
/* line 307, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modalContent .panels-categories-description {
  padding: 20px;
}
/* line 310, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modalContent .panels-section-columns {
  padding-bottom: 20px;
}

/* line 314, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modal-content fieldset.widget-preview {
  margin-top: 18px;
  margin-bottom: 0;
  position: static;
  border: 1px solid #ddd;
}
/* line 319, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modal-content fieldset.widget-preview .panel-heading {
  position: relative;
}
/* line 321, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modal-content fieldset.widget-preview .panel-heading .btn {
  position: absolute;
  right: 10px;
  top: 5px;
}

/* line 329, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modal-content .ctools-auto-submit-full-form fieldset {
  width: 48%;
  display: block;
}
/* line 332, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modal-content .ctools-auto-submit-full-form fieldset fieldset {
  width: 100%;
}
/* line 335, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modal-content .ctools-auto-submit-full-form fieldset.widget-preview-single {
  float: right;
  margin-left: 1em;
  margin-top: 0;
  width: 48%;
  max-width: 48% !important;
}
/* line 343, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modal-content .ctools-auto-submit-full-form .form-actions {
  float: right;
  clear: right;
  width: 48%;
  max-width: 48%;
  text-align: right;
}

/* line 354, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modal-content .form-item-view-settings {
  display: block;
}
/* line 357, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modal-content .form-item-exposed-use-pager {
  display: block;
}
/* line 360, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modal-content #panopoly-form-widget-preview {
  width: 50%;
  float: right;
}
/* line 363, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
#modal-content #panopoly-form-widget-preview .container {
  width: auto;
}

/* line 375, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.calendar-calendar table.mini td {
  border: 1px solid #eeeeee !important;
  padding: 5px;
}

/* line 383, ../../extensions/compass_radix/stylesheets/compass_radix/_structure.scss */
.view-header .date-nav-wrapper h3 {
  margin-top: 5px !important;
  margin-bottom: 0;
}

/* line 9, ../../extensions/compass_radix/stylesheets/compass_radix/_menu.scss */
ul.nav > li.dropdown:after {
  width: 100%;
  height: 2px;
  background: none;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  content: '';
}

/* line 26, ../../extensions/compass_radix/stylesheets/compass_radix/_menu.scss */
.nav-expanded .caret {
  display: none;
}
/* line 30, ../../extensions/compass_radix/stylesheets/compass_radix/_menu.scss */
.nav-expanded > li > a {
  font-size: 1.2em;
  text-align: left;
  font-weight: 700;
  color: #333333;
}
/* line 35, ../../extensions/compass_radix/stylesheets/compass_radix/_menu.scss */
.nav-expanded > li > a:hover, .nav-expanded > li > a:focus, .nav-expanded > li > a.active, .nav-expanded > li > a.active-trail {
  color: #2a6496;
  background: none;
}
/* line 40, ../../extensions/compass_radix/stylesheets/compass_radix/_menu.scss */
.nav-expanded > li ul.dropdown-menu {
  background: none;
  display: block;
  border: 0;
  padding: 0;
  position: static;
  float: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 50, ../../extensions/compass_radix/stylesheets/compass_radix/_menu.scss */
.nav-expanded > li ul.dropdown-menu li a {
  padding: 3px 15px;
  color: #333333;
}
/* line 53, ../../extensions/compass_radix/stylesheets/compass_radix/_menu.scss */
.nav-expanded > li ul.dropdown-menu li a:hover, .nav-expanded > li ul.dropdown-menu li a:focus, .nav-expanded > li ul.dropdown-menu li a.active, .nav-expanded > li ul.dropdown-menu li a.active-trail {
  color: #2a6496;
  background: none;
}
/* line 59, ../../extensions/compass_radix/stylesheets/compass_radix/_menu.scss */
.nav-expanded > li ul.dropdown-menu ul {
  display: none !important;
}
@media (max-width: 767px) {
  /* line 29, ../../extensions/compass_radix/stylesheets/compass_radix/_menu.scss */
  .nav-expanded > li {
    float: none;
    margin-bottom: 18px;
  }
}
/* line 68, ../../extensions/compass_radix/stylesheets/compass_radix/_menu.scss */
.nav-expanded > li.open > a {
  color: #333333;
  background: none;
}
/* line 71, ../../extensions/compass_radix/stylesheets/compass_radix/_menu.scss */
.nav-expanded > li.open > a:hover, .nav-expanded > li.open > a:focus, .nav-expanded > li.open > a.active, .nav-expanded > li.open > a.active-trail {
  color: #2a6496;
  background: none;
}

/* line 7, ../../extensions/compass_radix/stylesheets/compass_radix/_panel.scss */
.panel-display > .row {
  margin-bottom: 20px;
}

/* line 11, ../../extensions/compass_radix/stylesheets/compass_radix/_panel.scss */
.panel-flexible .panel-separator {
  display: none;
}

/* line 17, ../../extensions/compass_radix/stylesheets/compass_radix/_panel.scss */
div#panels-ipe-control-container {
  width: auto;
  left: 0;
  right: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 22, ../../extensions/compass_radix/stylesheets/compass_radix/_panel.scss */
div#panels-ipe-control-container .panels-ipe-button-container {
  text-align: center;
}
/* line 24, ../../extensions/compass_radix/stylesheets/compass_radix/_panel.scss */
div#panels-ipe-control-container .panels-ipe-button-container .panels-ipe-pseudobutton-container {
  margin: 0 5px;
}
/* line 26, ../../extensions/compass_radix/stylesheets/compass_radix/_panel.scss */
div#panels-ipe-control-container .panels-ipe-button-container .panels-ipe-pseudobutton-container a {
  padding: 0px 10px 0px 34px;
}
/* line 28, ../../extensions/compass_radix/stylesheets/compass_radix/_panel.scss */
div#panels-ipe-control-container .panels-ipe-button-container .panels-ipe-pseudobutton-container a:hover {
  text-decoration: none;
}
/* line 36, ../../extensions/compass_radix/stylesheets/compass_radix/_panel.scss */
div#panels-ipe-control-container .panels-ipe-form-container form > div {
  text-align: center;
}
/* line 39, ../../extensions/compass_radix/stylesheets/compass_radix/_panel.scss */
div#panels-ipe-control-container .panels-ipe-form-container form .form-submit {
  margin: 0 5px;
  padding: 0px 10px 0px 34px;
}
/* line 42, ../../extensions/compass_radix/stylesheets/compass_radix/_panel.scss */
div#panels-ipe-control-container .panels-ipe-form-container form .form-submit:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 50, ../../extensions/compass_radix/stylesheets/compass_radix/_panel.scss */
ul.panels-ipe-linkbar {
  list-style: none outside none;
}
/* line 52, ../../extensions/compass_radix/stylesheets/compass_radix/_panel.scss */
ul.panels-ipe-linkbar > li {
  display: inline-block;
  margin: 0 0 0 5px;
}
/* line 55, ../../extensions/compass_radix/stylesheets/compass_radix/_panel.scss */
ul.panels-ipe-linkbar > li a {
  margin: 0 !important;
}

/* line 15, ../../extensions/compass_radix/stylesheets/compass_radix/_view.scss */
.views-exposed-form .views-submit-button,
.views-exposed-form .views-reset-button {
  margin-top: 3px;
}

/* line 6, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
.form-item {
  margin-top: 0;
}

/* line 12, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
form .form-managed-file input {
  display: inline-block;
  margin: 0 10px 0 0;
}
/* line 17, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
form .container-inline-date .date-padding {
  padding: 0;
  float: none;
}
/* line 22, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
form .form-actions .btn {
  margin-right: 10px;
}
/* line 27, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
form .field-type-datetime select {
  min-width: 80px;
}
/* line 31, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
form .format-toggle {
  float: none;
}

/* line 39, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
form .field-multiple-table thead th {
  padding: 10px !important;
}
/* line 41, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
form .field-multiple-table thead th label {
  margin: 0;
  font-weight: bold;
}
/* line 48, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
form .description {
  margin: 2px 0;
  color: #555555;
}

/* line 55, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
.media-widget > a {
  margin: 0 10px 0 0;
  display: inline-block;
}

/* line 62, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
fieldset legend {
  float: left;
  line-height: 1em;
  margin: 0;
}
/* line 67, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
fieldset .panel-body {
  clear: both;
}

/* line 73, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
html.js input.form-autocomplete {
  background: url('../images/throbber.gif?1396846012') no-repeat right 8px white !important;
}
/* line 76, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
html.js input.throbbing {
  background-position: right -122px !important;
}
/* line 79, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
html.js fieldset.collapsed {
  height: auto;
  border-left-width: 1px;
  border-right-width: 1px;
}

/* line 86, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.8em;
}

@media (max-width: 767px) {
  /* line 92, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
  form .btn {
    width: 100%;
    display: block;
    clear: both;
    margin: 0 0 5px;
  }
  /* line 100, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
  form input.form-text,
  form textarea,
  form select {
    width: 100%;
  }
  /* line 105, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
  form .confirm-parent,
  form .password-parent,
  form .password-suggestions {
    width: auto !important;
  }
  /* line 109, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
  form .password-parent div.password-strength {
    width: 150px;
    float: right;
    margin-top: 0;
    font-size: 10px;
    margin-bottom: 5px;
    margin-top: -5px;
  }
  /* line 119, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
  form .confirm-parent div.password-confirm {
    width: 110px;
    float: right;
    margin-top: 0;
    font-size: 10px;
    margin-bottom: 5px;
    margin-top: -5px;
  }
}
/* line 134, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
#node-edit #edit-title {
  font-size: 1.6em;
  line-height: 1.6em;
  height: 45px;
  width: 90%;
}
/* line 21, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/bootstrap-sass-3.0.3.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */
#node-edit .form-item-path-alias:before, #node-edit .form-item-path-alias:after {
  content: " ";
  display: table;
}
/* line 25, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/bootstrap-sass-3.0.3.0/vendor/assets/stylesheets/bootstrap/_mixins.scss */
#node-edit .form-item-path-alias:after {
  clear: both;
}
/* line 142, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
#node-edit .form-item-path-alias label, #node-edit .form-item-path-alias input {
  display: inline;
}
/* line 147, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
#node-edit .burr-flipped-sidebar .panel-pane {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 10px;
}
/* line 20, ../../extensions/compass_radix/stylesheets/compass_radix/_mixin.scss */
#node-edit .burr-flipped-sidebar .panel-pane blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
/* line 150, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
#node-edit .burr-flipped-sidebar .panel-pane .pane-title {
  margin-top: 0;
}
/* line 154, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
#node-edit .burr-flipped-sidebar .pane-node-form-buttons {
  background: none;
  padding: inherit;
}
/* line 157, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
#node-edit .burr-flipped-sidebar .pane-node-form-buttons .form-actions {
  margin: 0;
  border-top: 0;
}
/* line 163, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
#node-edit .pane-node-form-buttons {
  clear: both;
}

/* line 168, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
.filter-wrapper {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-top: 10px;
}
/* line 20, ../../extensions/compass_radix/stylesheets/compass_radix/_mixin.scss */
.filter-wrapper blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
/* line 171, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
.filter-wrapper .form-item {
  margin: 0 0 10px;
  padding: 0;
}
/* line 175, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
.filter-wrapper .filter-guidelines {
  padding: 0;
}
/* line 177, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
.filter-wrapper .filter-guidelines .tips {
  margin-left: 0;
}

/* line 189, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
.page-admin form table select,
.page-admin form table input.form-text {
  width: 150px;
}

/* line 199, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
#features-export-form .features-export-parent {
  margin: 0 0 20px;
}
/* line 201, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
#features-export-form .features-export-parent fieldset.collapsed {
  min-height: 43px !important;
  background: none;
}
/* line 205, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
#features-export-form .features-export-parent .features-export-list {
  padding: 10px;
}
/* line 207, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
#features-export-form .features-export-parent .features-export-list .form-item {
  float: none !important;
}

/* line 218, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
#panels-panel-context-edit-move .container,
#panels-panel-context-edit-content .container {
  width: auto;
  padding: 0;
}
/* line 221, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
#panels-panel-context-edit-move .container .row,
#panels-panel-context-edit-content .container .row {
  margin-bottom: 20px;
}

/* line 230, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
.navbar-form .form-wrapper {
  padding: 0;
}
/* line 234, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
.navbar-form .form-item-keys,
.navbar-form .form-item {
  margin-top: 0 !important;
}
/* line 237, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
.navbar-form .form-submit {
  display: none;
}

/* line 247, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
.pane-search-box form .form-wrapper .form-group {
  display: block;
  margin-bottom: 10px;
}

/* line 257, ../../extensions/compass_radix/stylesheets/compass_radix/_form.scss */
.tabledrag-handle .handle {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 9, ../../extensions/compass_radix/stylesheets/compass_radix/_node.scss */
.field img.panopoly-image-full,
.field img.panopoly-image-half,
.field img.panopoly-image-quarter {
  max-width: 100%;
  width: auto;
  height: auto;
  float: none;
  margin: 0;
}

/* line 18, ../../extensions/compass_radix/stylesheets/compass_radix/_node.scss */
.field-collection-container {
  border: 0;
}
/* line 20, ../../extensions/compass_radix/stylesheets/compass_radix/_node.scss */
.field-collection-container .field-collection-view {
  margin: 0;
  padding: 0;
  border: none;
}

/* line 32, ../../extensions/compass_radix/stylesheets/compass_radix/_node.scss */
.node-panopoly-page.node-teaser .panel-pane {
  margin: 0 0 10px 260px;
}
/* line 35, ../../extensions/compass_radix/stylesheets/compass_radix/_node.scss */
.node-panopoly-page.node-teaser .pane-node-field-featured-image {
  float: left;
  margin-left: 0;
}
@media (max-width: 767px) {
  /* line 41, ../../extensions/compass_radix/stylesheets/compass_radix/_node.scss */
  .node-panopoly-page .panel-pane {
    float: none !important;
    margin: 0 0 10px !important;
  }
}

/* line 53, ../../extensions/compass_radix/stylesheets/compass_radix/_node.scss */
.node-panopoly-news-article.node-teaser .panel-pane {
  margin: 0 0 10px 260px;
}
/* line 56, ../../extensions/compass_radix/stylesheets/compass_radix/_node.scss */
.node-panopoly-news-article.node-teaser .pane-node-field-featured-image {
  float: left;
  margin-left: 0;
}
@media (max-width: 767px) {
  /* line 62, ../../extensions/compass_radix/stylesheets/compass_radix/_node.scss */
  .node-panopoly-news-article .panel-pane {
    float: none !important;
    margin: 0 0 10px !important;
  }
}

/* line 5, ../../extensions/compass_radix/stylesheets/compass_radix/_comment.scss */
.comment {
  margin-top: 15px;
}
/* line 7, ../../extensions/compass_radix/stylesheets/compass_radix/_comment.scss */
.comment .user-picture {
  float: left;
  margin-right: 10px;
}
/* line 10, ../../extensions/compass_radix/stylesheets/compass_radix/_comment.scss */
.comment .user-picture a {
  display: block;
}
/* line 14, ../../extensions/compass_radix/stylesheets/compass_radix/_comment.scss */
.comment .submitted {
  font-size: 0.90em;
}
/* line 16, ../../extensions/compass_radix/stylesheets/compass_radix/_comment.scss */
.comment .submitted .permalink {
  margin-left: 5px;
}
/* line 19, ../../extensions/compass_radix/stylesheets/compass_radix/_comment.scss */
.comment .submitted .new {
  color: #d9534f;
}
/* line 23, ../../extensions/compass_radix/stylesheets/compass_radix/_comment.scss */
.comment .content {
  margin: 10px 0;
}
/* line 26, ../../extensions/compass_radix/stylesheets/compass_radix/_comment.scss */
.comment .links {
  font-size: 0.80em;
}

/* line 3, ../../extensions/compass_radix/stylesheets/compass_radix/_admin.scss */
.views-display-setting .views-admin-label {
  display: inline-block;
  float: left;
  /* LTR */
  margin-right: 3pt;
  /* LTR */
}
