/**
 * @file
 * Responsive Styles - Landscape phone to portrait tablet
 * (max-width: 767px)
 */
.hidden-desktop {
  display: inherit !important;
}

.visible-desktop {
  display: none !important;
}

.visible-phone {
  display: inherit !important;
}

.hidden-phone {
  display: none !important;
}

body {
  padding-right: 20px;
  padding-left: 20px;
}
.navbar-fixed-top,
.navbar-fixed-bottom,
.navbar-static-top {
  margin-right: -20px;
  margin-left: -20px;
}
.container-fluid {
  padding: 0;
}
.dl-horizontal dt {
  float: none;
  width: auto;
  clear: none;
  text-align: left;
}
.dl-horizontal dd {
  margin-left: 0;
}
.container {
  width: auto;
}
.row-fluid {
  width: 100%;
}
.row,
.thumbnails {
  margin-left: 0;
}
.thumbnails > li {
  float: none;
  margin-left: 0;
}
[class*="span"],
.row-fluid [class*="span"] {
  display: block;
  float: none;
  width: 100%;
  margin-left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.span12,
.row-fluid .span12 {
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.input-large,
.input-xlarge,
.input-xxlarge,
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.input-prepend input,
.input-append input,
.input-prepend input[class*="span"],
.input-append input[class*="span"] {
  display: inline-block;
  width: auto;
}
.controls-row [class*="span"] + [class*="span"] {
  margin-left: 0;
}
.modal {
  position: fixed;
  top: 20px;
  right: 20px;
  left: 20px;
  width: auto;
  margin: 0;
}
.modal.fade.in {
  top: auto;
}